body{
    display: inline-block;
}
div{
    margin: 3px;
    
}

table{
    border-collapse: collapse;
}

tr{
    border: 2px solid black;
}

tr>td{
    border-right: 2px solid black;
    text-align: center;
}


.cuadrado{
    display: flex;
    background-color: azure;


}

.circulo{
    display: flex;
    background-color: blueviolet;
}

.rectangulo{
    display: flex;
    background-color: blue;
}

.cuadrado>div{
    cursor: pointer;
}

.circulo>div{
    
    border-radius: 50%;
    cursor: pointer;
}

.rectangulo>div{
    border-radius: 20%;
    cursor: pointer;
}

.div1{
    background-color: red;
    height: 50px;
    width: 50px; 
    
}
.div2{
    background-color: orange;
    height: 50px;
    width: 50px;
 
   
}
.div3{
    background-color: yellow;
    height: 50px;
    width: 50px;

   
}
.div4{
    background-color: lightgreen;
    height: 50px;
    width: 50px;

 
}
.div5{
    background-color: lightblue;
    height: 50px;
    width: 50px;
   
   
}